<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <section class="login-form">
        <form method="post"  action="/login" role="login">
          <img src="15358fc5-7576-4cb9-af25-ba86067241b3.png" class="img-responsive" alt="" />
          <input type="email" name="email" placeholder="Email" required class="form-control input-lg" value="joestudent@gmail.com" />
          <input type="password" class="form-control input-lg" id="password" placeholder="Password" required="" />
          <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Login</button>
        </form>
</div>
